{% extends "layout.html" %}
    {% block body %}
        <h1>AtCoder Performances</h1>
        <form action="{{ url_for('show_graph') }}" method=post>
            <dl>
                <dt>You(Required):
                <dd><input type=text name=username placeholder="User ID" value="{{ me.id }}">
                <dt>Rival(Optional):
                <dd><input type=text name=rivalname placeholder="User ID" value="{{ rival.id }}">
                <dd style="padding: 10px 0 0 0"><input type=submit value="Show graph" class="btn btn-primary">
            </dl>
        </form>
        {% if input %}
            {% if not(graph) %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Warning
                    </div>
                    <div class="panel-body">
                        {% if not(me.performances) %}
                            {% if me.id %}
                                <p>The user name "{{me.id}}" is incorrect.</p>
                            {% else%}
                                <p>Please input your id.</p>
                            {% endif %}
                        {% endif %}
                        {% if not(rival.performances) and rival.id %}
                            <p>The user name "{{rival.id}}" is incorrect.</p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <h2>Graph</h2>
                <img src={{ graph.url }}>

                <h2>Average</h2>
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                        <table class="table table-striped">
                            <tr><th></th><th>last 5 contests</th><th>all</th></tr>
                            <tr><td>{{ me.id }}</td><td>{{ me.avg5 }}</td><td>{{ me.avg }}</td></tr>
                            {% if rival.performances %}
                                <tr><td>{{ rival.id }}</td><td>{{ rival.avg5 }}</td><td>{{ rival.avg }}</td></tr>
                            {% endif %}
                        </table>
                        <a href="https://twitter.com/intent/tweet?button_hashtag=AtCoder_Performances&text={{ me.id }}%E3%81%95%E3%82%93%E3%81%AE%E5%B9%B3%E5%9D%87%E3%83%91%E3%83%95%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%B3%E3%82%B9%E3%81%AF{{ me.avg }}%E3%81%A7%EF%BC%8C%E6%9C%80%E6%96%B05%E5%9B%9E%E5%88%86%E3%81%AE%E5%B9%B3%E5%9D%87%E3%83%91%E3%83%95%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%B3%E3%82%B9%E3%81%AF{{ me.avg5 }}%E3%81%A7%E3%81%99%E3%80%82" class="twitter-hashtag-button" data-url="https://atcoder-performances.herokuapp.com/">Tweet #AtCoder_Performances</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-6 col-lg-6"></div>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}